body {
  background: #ccc;
}

#title, .subtitle, .post_title {
 color:blue;
}

.post_title {
  font-size: 16px;
  font-style: italic;
} 
.avatar {
  width: 150px;
  height: auto;
}
.post1 {
  width: 800px;
  height: auto;
}

.post {
  background: #fff;
  padding: 10px;
  border: 3px solid #aaaa;
  margin: 10px;
}